@*@model MVCBookstoreProject.Models.Customer*@
@model IEnumerable<MVCBookstoreProject.Models.Order>

@{
    ViewBag.Title = "Details";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}

<div class="container">
    <ol class="breadcrumb">
        <li class="breadcrumb-item">
            <a href="~/Admin/Index" style="">Dashboard</a>
        </li>
        <li class="breadcrumb-item active">Customers</li>

    </ol>
    <div class="card mb-3">
        <div class="card-header ">
            <div class="row">
                <div class="col-md-12">
                    @*<a href="~/Orders/Create" class="btn btn-outline-primary pull-right">Add New</a>*@
                    @*<a href="~/Orders/Index" class="btn btn-outline-secondary pull-right" style="margin-left:15px;"><i class="fa fa-refresh"></i> Refresh</a>*@
                    <p>Customer <strong>@ViewBag.name</strong> made <strong>@ViewBag.num</strong> orders in total before @DateTime.Now</p>
                </div>
                
            </div>
        </div>
        <div class="card-body">
            <div class="table-responsive">
                <table class="table table-bordered table-sm" id="dataTable" width="100%" cellspacing="0" style="font-size: 14px;">
                    <thead>
                        <tr>
                            <th>
                                @Html.DisplayNameFor(model => model.OrderDate)
                            </th>
                            <th>
                                @Html.DisplayNameFor(model => model.OrderStatus)
                            </th>
                            <th class="sorting_asc_disabled sorting_desc_disabled">
                                More Details
                            </th>

                        </tr>
                    </thead>

                    <tbody>

                        @foreach (var item in Model)
                        {
                            <tr id="row_@item.OrderId">
                                
                                <td class="align-middle">
                                    @Html.DisplayFor(model => item.OrderDate)

                                </td>
                                <td class="align-middle">
                                    @Html.DisplayFor(model => item.OrderStatus)
                                </td>
                                <td class="align-middle">
                                    <a href="@Url.Action("Details","Orders", new{id = item.OrderId})" class="btn btn-outline-primary">MORE DETAILS</a>
                                </td>

                            </tr>

                        }

                    </tbody>
                </table>

                <input type="hidden" id="hiddenBookId" />

                <div class="modal fade" id="deleteModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
                    <div class="modal-dialog" role="document">
                        <div class="modal-content">
                            <div class="modal-header">
                                <h5 class="modal-title" id="exampleModalLabel">Are you sure?</h5>
                                <button class="close" type="button" data-dismiss="modal" aria-label="Close">
                                    <span aria-hidden="true">&times;</span>
                                </button>
                            </div>
                            <div class="modal-body">
                                Are you sure you want to delete this book?<br /><span class="text-danger">This cannot be undone.</span>
                            </div>
                            <div class="modal-footer">
                                <a class="btn btn-secondary" href="#" data-dismiss="modal">Cancel</a>
                                @*@using (Html.BeginForm("Delete", "Books", FormMethod.Post, new {id = "myform", @class = "", enctype="multipart/form-data"}))
                                    {
                                        @Html.AntiForgeryToken()
                                        <input type="submit" value="Delete" id="deleteBtn" class="btn btn-danger"/>
                                    }*@

                                <a href="#" class="btn btn-success" onclick="DeleteBook()">Delete</a>
                            </div>
                        </div>
                    </div>
                </div>

            </div>

        </div>
    </div>
</div>


<script>
    var ConfirmDelete = function(BookId) {
        $("#hiddenBookId").val(BookId);
        $("#deleteModal").modal('show');
    }

    var DeleteBook = function() {
        var bookId = $("#hiddenBookId").val();
        $.ajax({
            type: "POST",
            url: '@Url.Action("Delete","Books")',
            data: { id: bookId },
            success: function() {
                $("#deleteModal").modal("hide");
                $("#row_" + bookId).remove();

            }
        })
    }
</script>