@using MVCBookstoreProject.Models
@model IEnumerable<MVCBookstoreProject.Models.Order>
@*@model MVCBookstoreProject.ViewModels.OrderDetailViewModel*@
@{
    ViewBag.Title = "ProcessingOrders";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}

<div class="container">
    <ol class="breadcrumb">
        <li class="breadcrumb-item">
            <a href="~/Admin/Index" style="">Dashboard</a>
        </li>
        <li class="breadcrumb-item active">Orders</li>

    </ol>
    <div class="card mb-3">
        <div class="card-header ">
            <div class="row">
                <div class="col-md-6">
                    @*<a href="~/Orders/Create" class="btn btn-outline-primary pull-right">Add New</a>*@
                    <a href="~/Orders/Index" class="btn btn-outline-secondary pull-right" style="margin-left:15px;"><i class="fa fa-refresh"></i> Refresh</a>
                </div>
            </div>
        </div>
        <div class="card-body">
            <div class="table-responsive">
                <table class="table table-bordered table-sm" id="dataTable" width="100%" cellspacing="0" style="font-size: 14px;">
                    <thead>
                        <tr>
                            <th class="sorting_asc_disabled sorting_desc_disabled">
                                @Html.DisplayNameFor(model => model.OrderId)
                            </th>
                            <th>
                                @Html.DisplayNameFor(model => model.OrderDate)
                            </th>
                            <th>
                                @Html.DisplayNameFor(model => model.OrderStatus)
                            </th>
                            <th>
                                @Html.DisplayName("Customer Name")
                            </th>

                            <th>
                                @Html.DisplayName("Quantity")
                            </th>
                            <th>
                                @Html.DisplayName("Total")
                            </th>

                            <th class="sorting_asc_disabled sorting_desc_disabled">Action</th>
                        </tr>
                    </thead>

                    <tbody>
                        @{
                            ApplicationDbContext db = new ApplicationDbContext();
                            var details = db.OrderDetails.ToList();
                            var Quantity = 0;
                            decimal Total = 0;
                        }
                        @foreach (var item in Model)
                        {
                            Quantity = 0;
                            Total = 0;
                            foreach (var detail in details)
                            {
                                if (detail.OrderId == item.OrderId)
                                {
                                    Quantity += detail.Quantity;
                                    Total += (detail.Book.Price * detail.Quantity);

                                }

                            }

                            <tr id="row_@item.OrderId">
                                <td class="align-middle">
                                    @Html.DisplayFor(modelItem => item.OrderId)

                                </td>
                                <td class="align-middle">
                                    @item.OrderDate.ToLongDateString()
                                </td>
                                <td class="align-middle">
                                    @Html.DisplayFor(modelItem => item.OrderStatus)
                                </td>
                                <td class="align-middle">
                                    @{ var FullName = item.Customer.FirstName + " " + item.Customer.LastName;}
                                    @FullName
                                </td>
                                <td class="align-middle">
                                    @Quantity
                                </td>
                                <td class="align-middle">
                                    $ @Total
                                </td>

                                <td class="align-middle text-center ">

                                    <a href="~/Orders/Edit/@item.OrderId" class="text-info" title="Edit"><i class="fa fa-edit"></i></a>
                                    <br />
                                    <a href="~/Orders/Details/@item.OrderId" class="text-warning" title="Details"><i class="fa fa-info-circle"></i></a>

                                    @*<a href="~/Books/Details" class="text-danger" title="Details"><i class="fa fa-file-export"></i></a>*@
                                    @*<br/>*@
                                    @*<a href="#" class="text-danger" onclick="ConfirmDelete(@item.OrderId)" title="Delete"><i class="fas fa-fw fa-trash-alt"></i></a>*@

                                </td>
                            </tr>

                        }

                    </tbody>
                </table>
                <input type="hidden" id="hiddenBookId" />

                <div class="modal fade" id="deleteModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
                    <div class="modal-dialog" role="document">
                        <div class="modal-content">
                            <div class="modal-header">
                                <h5 class="modal-title" id="exampleModalLabel">Are you sure?</h5>
                                <button class="close" type="button" data-dismiss="modal" aria-label="Close">
                                    <span aria-hidden="true">&times;</span>
                                </button>
                            </div>
                            <div class="modal-body">
                                Are you sure you want to delete this book?<br /><span class="text-danger">This cannot be undone.</span>
                            </div>
                            <div class="modal-footer">
                                <a class="btn btn-secondary" href="#" data-dismiss="modal">Cancel</a>
                                @*@using (Html.BeginForm("Delete", "Books", FormMethod.Post, new {id = "myform", @class = "", enctype="multipart/form-data"}))
                                    {
                                        @Html.AntiForgeryToken()
                                        <input type="submit" value="Delete" id="deleteBtn" class="btn btn-danger"/>
                                    }*@

                                <a href="#" class="btn btn-success" onclick="DeleteBook()">Delete</a>
                            </div>
                        </div>
                    </div>
                </div>

            </div>

        </div>
    </div>
</div>


<script>
    var ConfirmDelete = function(BookId) {
        $("#hiddenBookId").val(BookId);
        $("#deleteModal").modal('show');
    }

    var DeleteBook = function() {
        var bookId = $("#hiddenBookId").val();
        $.ajax({
            type: "POST",
            url: '@Url.Action("Delete","Books")',
            data: { id: bookId },
            success: function() {
                $("#deleteModal").modal("hide");
                $("#row_" + bookId).remove();

            }
        })
    }
</script>



