@using MVCBookstoreProject.Helpers
@using MVCBookstoreProject.ViewModels
<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title - My ASP.NET Application</title>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <link href="~/Content/bootstrap.min.css" rel="stylesheet" />
    <link href="~/Content/bootstrap.css" rel="stylesheet" />
    <link href="~/Content/MyMainLayout.css" rel="stylesheet" />
</head>
<body>

<div class="container ">
    <div class="row">
        <div class="col-md-6 col-sm-6 col-xs-6">
            <div class="logo" style="margin-top: 5px;">
                <h1><a href="~/Home/Index">Online <span>Book Store</span></a></h1>
            </div>
        </div>

        <div class="col-md-6 col-sm-6 col-xs-6">
            <ul class="nav navbar-nav navbar-right">
                <li class="dropdown">
                    <a data-toggle="dropdown" class="dropdown-toggle" href="#">
                        
                        Cart (@{
                        var number = 0;
                        if (!User.Identity.IsAuthenticated)
                        {
                            number = 0;

                        }
                        else
                        {
                            if (Session["cart"] != null)
                            {

                                foreach (var item in (List<CartViewModel>)Session["cart"])
                                {
                                    number += item.Quantity;

                                }
                            }

                        }

                        @number
                        }) <b class="caret"></b>
                    </a>
                    <ul class="dropdown-menu" style="padding-bottom: 0;">

                        @if (User.Identity.IsAuthenticated && Session["cart"] != null)
                        {
                            foreach (var item in (List<CartViewModel>)Session["cart"])
                            {
                                <li style="margin-bottom: 5px;"><a href="#">@Html.StriptHtml(@item.Book.BookName, 12) <strong class="ml-3">(@item.Quantity)</strong></a></li>
                            }
                        }
                        <hr style="padding: 0; margin: 0;" />
                        @if (User.Identity.IsAuthenticated)
                        {
                            @Html.ActionLink("VIEW CART", "ViewCart", "", new { @class = "btn btn-primary btn-block shadow", style = "border-radius:0;" })
                        }
                        else
                        {
                            @*@Html.ActionLink("VIEW CART", "ViewCart", "", new { @class = "btn btn-primary btn-block shadow", style = "border-radius:0;" })*@
                            <a href="~/Account/Login" class="btn btn-block btn-primary" style="border-radius: 0;">VIEW CART</a>
                        }

                    </ul>
                </li>
            </ul>

            @Html.Partial("_LoginPartial")
        </div>
    </div>

    <div class="row">
        <div class="col-md-12">
            <div class="nav-menus">
                <ul class="nav nav-pills">
                    <li class="active"><a style="border-radius: initial;" href="~/Home/Index">Home</a></li>
                    <li><a style="border-radius: initial;" href="~/Home/Contact">Location</a></li>
                    <li><a style="border-radius: initial;" href="~/Home/About">About</a></li>
                </ul>
            </div>
        </div>
    </div>
</div>


<div class="container body-content">
    @RenderBody()
</div>

<footer class="container">
    <hr/>
    <div class="row">
        <div class="col-md-12 copyright">

            <div class="col-md-6 col-sm-6 copyright-left">
                <p>&copy; @DateTime.Now.Year - OnlineBookStore. All right reserved.</p>
            </div>

            <div class="col-md-6 col-sm-6 copyright-right">

                <ul class="list-unstyled list-social">
                    <li><a href="#" target="_blank"><i class="fa fa-facebook-square"></i></a></li>
                    <li><a href="#"><i class="fa fa-twitter"></i></a></li>
                    <li><a href="#"><i class="fa fa-google-plus"></i></a></li>

                </ul>
            </div>
        </div>
    </div>

</footer>

    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/bootstrap")
    @RenderSection("scripts", required: false)

</body>
</html>
