@using Microsoft.AspNet.Identity
@using MVCBookstoreProject.Models
@if (Request.IsAuthenticated)
{
    using (Html.BeginForm("LogOff", "Account", FormMethod.Post, new { id = "logoutForm", @class = "navbar-right" }))
    {
        @Html.AntiForgeryToken()
            
            if (User.IsInRole(RoleName.CanManage))
            {
                <ul class="list-group">
                    <li class="d-inline-block">
                        @*@{var user = (System.Security.Claims.ClaimsIdentity)User.Identity;}
                        @Html.ActionLink("Welcome " + user.FindFirstValue("FirstName") + " " + user.FindFirstValue("LastName") + "!", "Index", "Admin", routeValues: null, htmlAttributes: new { title = "Manage", Style = "color:white;text-decoration:none;" })*@
                        <a href="javascript:document.getElementById('logoutForm').submit()" style="color: white; margin-right: 16px; text-decoration: none;">Log off <i class="fa fa-arrow-alt-circle-right "></i></a>
                    </li>
                </ul>
            }
            else
            {
                <ul class="nav navbar-nav navbar-right">
                    <li>
                        @{ var user = (System.Security.Claims.ClaimsIdentity) User.Identity;}
                        @Html.ActionLink("Welcome " + user.FindFirstValue("FirstName") + " " + user.FindFirstValue("LastName")+  "!", "Index", "Manage", routeValues: null, htmlAttributes: new {title = "Manage"})
                    </li>
                    <li class="d-inline-block"><a href="javascript:document.getElementById('logoutForm').submit()" >Log off</a></li>
                </ul>
            }

    
    }
}
else
{
    <ul class="nav navbar-nav navbar-right">
        <li>@Html.ActionLink("Register", "Register", "Account", routeValues: null, htmlAttributes: new { id = "registerLink" })</li>
        <li>@Html.ActionLink("Log in", "Login", "Account", routeValues: null, htmlAttributes: new { id = "loginLink" })</li>
    </ul>
}
