@model MVCBookstoreProject.ViewModels.PaymentViewModel
@using (Html.BeginForm("SaveCreditCard","Home",FormMethod.Post))
{
    @Html.AntiForgeryToken()

        <div class="panel-body" id="creditcard" style="display: none;">

            <div class="form-horizontal">
                <h4>Credit Card</h4>
                <hr />
                @Html.ValidationSummary(true, "", new { @class = "text-danger" })
                @Html.HiddenFor(model=>model.CustomerId)
                <div class="form-group">
                    @Html.LabelFor(model => model.CreditCard.CardIssuer, htmlAttributes: new { @class = "control-label col-md-offset-1 col-md-2" })
                    <div class="col-md-7">
                        @Html.EnumDropDownListFor(model => model.CreditCard.CardIssuer, htmlAttributes: new { @class = "form-control" })
                        @Html.ValidationMessageFor(model => model.CreditCard.CardIssuer, "", new { @class = "text-danger" })
                    </div>
                </div>

                <div class="form-group">
                    @Html.LabelFor(model => model.CreditCard.CardNo, htmlAttributes: new { @class = "control-label col-md-offset-1 col-md-2" })
                    <div class="col-md-7">
                        @Html.EditorFor(model => model.CreditCard.CardNo, new { htmlAttributes = new { @class = "form-control" } })
                        @Html.ValidationMessageFor(model => model.CreditCard.CardNo, "", new { @class = "text-danger" })
                    </div>
                </div>

                <div class="form-group">
                    @Html.LabelFor(model => model.CreditCard.HolderName, htmlAttributes: new { @class = "control-label col-md-offset-1 col-md-2" })
                    <div class="col-md-7">
                        @Html.EditorFor(model => model.CreditCard.HolderName, new { htmlAttributes = new { @class = "form-control" } })
                        @Html.ValidationMessageFor(model => model.CreditCard.HolderName, "", new { @class = "text-danger" })
                    </div>
                </div>

                <div class="form-group">
                    @Html.LabelFor(model => model.CreditCard.ExpireDate, htmlAttributes: new { @class = "control-label col-md-offset-1 col-md-2" })
                    <div class="col-md-7">
                        @Html.EditorFor(model => model.CreditCard.ExpireDate, new { htmlAttributes = new { @class = "form-control" } })
                        @Html.ValidationMessageFor(model => model.CreditCard.ExpireDate, "", new { @class = "text-danger" })
                    </div>
                </div>

                <div class="form-group">
                    <div class="col-md-offset-3 col-md-10">
                        <input type="submit" value="SAVE CREDIT CARD" class="btn btn-primary" />
                    </div>

                </div>

            </div>

        </div>
}

